.logo-wraper {
	float: left;
	margin-right: 98px;
	margin-left: 72px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.navigation {
	float: left;
	margin-top: 35px;
}
.clear {
	clear: both;
}
.nav-li {
	float: left;
	margin-left: 31px;
	font-size: 24px;
}
.nav-ul::after {
	content: "";
	clear: both;
	display: block;
}
.bigdiv-1 {
	width: 100%;
	background-color: #E6E6E6;
	height: 520px;
}
.image-1 {
	margin-top: 30px;
	margin-left: 98px;
}
.header-wraper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}