.logo-wraper {
	float: left;
	margin-right: 98px;
	margin-left: 72px;
}
.navigation {
	float: left;
}
.clear {
	clear: both;
}
.nav-li {
	float: left;
	margin-left: 31px;
	font-size: 24px;
}
.nav-ul::after {
	content: "";
	clear: both;
	display: block;
}
