@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
.logo-wraper {
	float: left;
	margin-right: 98px;
	margin-left: 72px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.navigation {
	float: left;
	margin-top: 35px;
}
.clear {
	clear: both;
}
.nav-li {
	float: left;
	margin-left: 31px;
	font-size: 24px;
}
.nav-ul::after {
	content: "";
	clear: both;
	display: block;
}
.bigdiv-1 {
	width: 100%;
	background-color: #E6E6E6;
	height: 520px;
}
.image-1 {
	margin-top: 30px;
	margin-left: 98px;
}
.header-wraper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	background-color: white;
}
.image-wraper {
	position: relative;
}
.text-image1 {
	position: absolute;
	width: 339px;
	height: 147px;
	top: 291.2px;
	left: 128px;
	font-size: 30px;
	color: white;
}
/*second heder*/
.bigdiv-2 {
	width: 100%;
	height: 499.33px;
	background-color: #363E97;
	position: relative;
}
.div-text {
	color: white;
	font-size: 24px;
	padding-top: 30px;
	padding-left: 99.5px;
}
.indiv1 {
	width: 570px;
	height: 320px;
	background-color: white;
	position: absolute;
	top: 89.8px;
	left: 98px;
}
.indiv2 {
	width: 570px;
	height: 320px;
	background-color: white;
	position: absolute;
	top: 89.8px;
	left: 698px;
}
.bigdiv-3 {
	width: 100%;
	height: 450px;
	background-color: #BDCCD4;
}
.div-text1 {
	font-size: 24px;
	color: #3D58A6;
	padding-top: 30.7px;
	padding-left: 98.5px;
}
.smalldiv1 {
	width: 270px;
	height: 270px;
	background-color: #E6E6E6;
	float: left;
	margin-left: 98px;
	margin-top: 27.5px;
}
.bigdiv-3::after {
	content: "";
	clear: both;
	display: block;
}
.TYPOGRAPHY {
	font-size: 22px;
	color: #333333;
	margin-top: 13.7px;
	padding-left: 14px;
}
.smalldiv2 {
	width: 270px;
	height: 270px;
	background-color: #E6E6E6;
	float: left;
	margin-left: 30px;
	margin-top: 27.5px;
}
.MARKETING {
	font-size: 22px;
	color: #333333;
	margin-top: 13.7px;
	padding-left: 14px;
}
.smalldiv3 {
	width: 270px;
	height: 270px;
	background-color: #E6E6E6;
	float: left;
	margin-left: 30px;
	margin-top: 27.5px;
}
.CODING {
	font-size: 22px;
	color: #333333;
	margin-top: 13.7px;
	padding-left: 14px;
}
.smalldiv4 {
	width: 270px;
	height: 270px;
	background-color: #E6E6E6;
	float: left;
	margin-left: 30px;
	margin-top: 27.5px;
}
.INTERFACE {
	font-size: 22px;
	color: #333333;
	margin-top: 13.7px;
	padding-left: 14px;
}
.div-text2 {
	font-size: 24px;
	color: black;
	padding-top: 28px;
	padding-left:98px;
}
.bigdiv-4 {
	width: 100%;
	height: 345.46px;
	background-color: #E6E6E6;
}
.lastdiv1 {
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	margin-left: 98px;
	margin-top: 29.8px;
	float: left;
}
.lastdiv1::after {
	content: "";
	clear: both;
	display: block;
}
.RESPONSIVE {
	font-size: 22px;
	color: #3D58A6;
	padding-top: 11.1px;
	padding-left: 20.8px;
}
.inindiv1::after {
	content: "";
	clear: both;
	display: block;
}
.approach {
	font-size: 20px;
	width: 355px;
	float: left;
	margin-left: 60.3px;
	vertical-align: middle;
	padding-top: 20px;
}
.inindiv1 {
	padding-left: 38.8px;
	margin-top: 12.7px;
}
.readmore {
	font-size: 14px;
	color: #3D58A6;
	float: right;
	padding-right: 9px;
	margin-top: 20px;
}
.lastdiv2 {
	width: 570px;
	height: 225px;
	background-color: #F2F2F2;
	margin-left: 29px;
	margin-top: 29.8px;
	float: left;
}
.DEVELOPMENT {
	font-size: 22px;
	color: #3D58A6;
	padding-top: 11.1px;
	padding-left: 20.8px;
}
.inindiv2::after {
	content: "";
	clear: both;
	display: block;
}
.application {
	font-size: 20px;
	width: 355px;
	float: left;
	margin-left: 60.3px;
	vertical-align: middle;
	padding-top: 20px;
}
.inindiv2 {
	padding-left: 63.3px;
	margin-top: 13.7px;
}
.readmore1 {
	font-size: 14px;
	color: #3D58A6;
	float: right;
	padding-right: 8px;
	margin-top: 20px;
}
.lastp-1 {
	font-size: 12px;
	margin-top: 22px;
	margin-left: 97px;
	float: left;
	color: #333333;
	margin-bottom: 21px;
}
.lastp-2 {
	font-size: 12px;
	margin-top: 22px;
	margin-right: 94.5px;
	float: right;
	color: #333333;
}